@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
}

strong {
    color: #22d4fd;
    font-weight: bold;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
    flex-wrap: nowrap;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
    height: 400px;
}

.apresentacao__conteudo__titulo {
    font-size: 40px;
    font-family: "Merriweather", serif;
}

.apresentacao__conteudo__texto {
    font-size: 21px;
    font-family: "Playfair Display", serif;
}

.linguagens-estudadas {
    color: rgb(0, 110, 255);
}

.apresentacao__conteudo__subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Merriweather", serif;
    font-size: 24px;

}

.apresentacao__conteudo__botao {
    display: flex; 
    justify-content: center;
    gap: 20px;
}

.botoes__esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.botoes__direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.apresentacao__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22d4fd;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    color: #f6f6f6;
    padding: 10px 0;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

.apresentacao__botao:hover {
    padding: 12px 12px;
    background-color: #2f2f2f;
}

.apresentacao__conteudo__imagem {
    height: 400px;
    /*background-color: #F6F6F6;*/
}

