@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-destaques: blue;
    --cor-hover: #2f2f2f;

    --fonte-texto: "Playfair Display", serif;
    --fonte-titulo: "Merriweather", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-titulo);  
    font-size: 24px;  
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    flex-wrap: nowrap;
    min-height: 70vh;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 40px;
    font-family: var(--fonte-titulo);
}

strong {
    color: var(--cor-terciaria);
    font-weight: bold;
}

.apresentacao__conteudo__texto {
    font-size: 21px;
    font-family: var(--fonte-texto);
}

.linguagens-estudadas {
    color: var(--cor-destaques);
}

.apresentacao__conteudo__subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-titulo);
    font-size: 24px;

}

.apresentacao__conteudo__botao {
    display: flex; 
    justify-content: center;
    gap: 16px;
}

.botoes__esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.botoes__direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.apresentacao__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 250px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    color: var(--cor-secundaria);
    padding: 10px 0;
    text-decoration: none;
    font-family: var(--fonte-texto);
}

.apresentacao__botao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__conteudo__imagem {
    height: 400px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 16px;
    text-align: center;
}
